<!--
  Esse front-end está desacoplado da aplicação back-end.
  Foi colocado dentro da pasta /public/front apenas por conveniência de acesso.
  Ele consome a API via chamadas HTTP e não está integrado ao roteamento do CodeIgniter.
-->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do front app</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="vue">
      <div class="box">
        <!-- aplicação -->
        <template v-if="system.step=='app'">
          <aside @click="logout">sair</aside>
        </template>

        <!-- login -->
        <template v-if="system.step=='login'">
          <aside @click="useDefaultAcessLogin">teste@teste.com / 1234</aside>
          <b>Login</b>
          <input type="text" v-model="system.formLogin.email" placeholder="email" />
          <input type="password" v-model="system.formLogin.password" placeholder="senha" />
          <span class="error" v-if="system.formMessage">{{ system.formMessage }}</span>
          <button @click="login">entrar</button>
        </template>

        <!-- url servidor -->
        <template v-if="system.step=='server'">
          <aside @click="useDefaultServerUrl">http://localhost:8080/api</aside>
          <b>Qual a URL do backend?</b>
          <input type="text" v-model="this.system.formServer.url" placeholder="Informe a URL" />
          <button @click="loadUrlServer">conectar</button>
        </template>
      </div>
    </div>
    <div class="dev-note">
      <b>⭐Nota do desenvolvedor⭐</b><br />
      Esse front-end está desacoplado da aplicação back-end.<br />
      Foi colocado dentro da pasta <b>/public/front</b> apenas por conveniência de acesso.<br />
      Ele consome a API via chamadas HTTP e não está integrado ao roteamento do CodeIgniter.
    </div>
    <script src="./script.js"></script>
  </body>
</html>
